In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('Student_Performance.csv')

In [3]:
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [4]:
data = data.drop(['Extracurricular Activities'],axis = 1)

print(data.corr())

                                  Hours Studied  Previous Scores  Sleep Hours  \
Hours Studied                          1.000000        -0.012390     0.001245
Previous Scores                       -0.012390         1.000000     0.005944
Sleep Hours                            0.001245         0.005944     1.000000
Sample Question Papers Practiced       0.017463         0.007888     0.003990
Performance Index                      0.373730         0.915189     0.048106

                                  Sample Question Papers Practiced  \
Hours Studied                                             0.017463
Previous Scores                                           0.007888
Sleep Hours                                               0.003990
Sample Question Papers Practiced                          1.000000
Performance Index                                         0.043268

                                  Performance Index
Hours Studied                              0.373730
Previous Scores                            0.915189
Sleep Hours                                0.048106
Sample Question Papers Practiced           0.043268
Performance Index                          1.000000

In [5]:
y = data['Performance Index']
x = data.drop(columns = ['Performance Index'])

In [6]:
print(f'datatype of x is {type(x)} \ndatatype of y is {type(y)}')

datatype of x is <class 'pandas.core.frame.DataFrame'>
datatype of y is <class 'pandas.core.series.Series'>

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.1)

In [8]:
model = LinearRegression()
model.fit(x_train,y_train)
print(model.intercept_, model.coef_)

-33.7561674943518 [2.85215046 1.01874826 0.47476009 0.19243687]

In [9]:
y_pred = model.predict(x_test)
print (type(y_pred),type(y_test))
print(len(y_pred))

<class 'numpy.ndarray'> <class 'pandas.core.series.Series'>
1000

In [10]:
for i in range (0,len(y_pred),100):
    
    print (f'model has predicted {y_pred[i]} for actual value {y_test.iloc[i]}')

model has predicted 29.220205622052013 for actual value 30.0
model has predicted 63.77676106057366 for actual value 64.0
model has predicted 22.50716393875227 for actual value 24.0
model has predicted 71.03479759342386 for actual value 72.0
model has predicted 50.5339668620572 for actual value 50.0
model has predicted 38.26314799631491 for actual value 36.0
model has predicted 37.54197032017936 for actual value 38.0
model has predicted 31.979739620511182 for actual value 29.0
model has predicted 29.51253634181016 for actual value 35.0
model has predicted 32.29897517101783 for actual value 33.0